beautifulsoup4==4.15.0
certifi==2026.6.17
charset-normalizer==3.4.7
EbookLib==0.20
idna==3.18
ifaddr==0.2.0
lxml==6.1.1
requests==2.34.2
six==1.17.0
soupsieve==2.8.4
typing_extensions==4.15.0
urllib3==2.7.0
zeroconf==0.150.0
